{% extends "base.html"%}
{% load humanize %}

{% block header %}
<link rel="stylesheet" href="/static/page.css">
<link rel="stylesheet" href="/static/board_detail.css">
{% endblock %}
{% block contents %}
<section class="template_section">
    <aside class="aside">
        <div class="aside__title"> BOARD </div>
        <hr>
        <ul class="aside__list">
            {% block aside %}
            {% endblock %}
        </ul>
    </aside>
    <main class="main">
        <section class="board__information--box">
            <div class="board__information">
                <div class="board__information__text">제목</div>
                <div class="board__information__contents">{{ board.title }}</div>
            </div>
            <div class="board__information">
                <div class="board__information__text">작성자</div>
                <div class="board__information__contents">{{ board.writer }} </div>
            </div>
            <div class="board__information">
                <div class="board__information__text">등록시간</div>
                <div class="board__information__contents">{{ board.registered_dttm|date:'Y-m-d H:i' }}</div>
            </div>
        </section>

        <div class="board__contents"> {{ board.contents }}</div>

        <div class="board__button">
            {% block backtolist%}
            {% endblock %}
        </div>
    </main>
</section>
{{ board.update_counter }}
{% endblock %}
