{% extends "base.html"%}
{% load humanize %}

{% block header %}
<link rel="stylesheet" href="/static/page.css">
<link rel="stylesheet" href="/static/board_detail.css">
{% endblock %}
{% block contents %}
<section class="template_section">
    <aside class="aside">
        <ul class="aside__list">
            {% block aside %}
            {% endblock %}
        </ul>
    </aside>
    <main class="main">
        <section class="board__information--box">
            <div class="board__information">
                <div class="board__information__text">제목</div>
                <div class="board__information__contents">{{ board.title }}</div>
            </div>
            <div class="board__information">
                <div class="board__information__text">작성자</div>
                <div class="board__information__contents">{{ board.writer }} </div>
            </div>
            <div class="board__information">
                <div class="board__information__text">등록시간</div>
                <div class="board__information__contents">{{ board.registered_dttm|date:'Y-m-d H:i' }}</div>
            </div>
        </section>

        <div class="board__contents"> {{ board.contents }}</div> 

        <!-- <h1>New comment</h1>

        <form method="POST" class="post-form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% ifequal field.name  'content' %}
                <textarea class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}" rows="15"></textarea>
                {% else %}
                <input type="{{ field.field.widget.input_type}}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}"/>
                {% endifequal %}
            </div>        
            {% endfor %}
            <button type="submit" class="save btn btn-default">Send</button>
        </form> -->

        {% for comment in board.comments.all %}
        <div class="board__comment">
            <div class="board__comment-author">{{ comment.author }}</div>
            <div class="board__comment-content">{{ comment.content }}</div>
        </div>

        {% endfor %}
                

        <div class="board__button">
            {% block backtolist%}
            {% endblock %}
        </div>


    </main>
</section>
{% endblock %}
