{% extends "base.html"%}
{% block header %}
<link rel="stylesheet" href="/static/page.css">
{% endblock %}
{% block contents %}
<section class="template_section">
    <aside class="aside">
        <div class="aside__title"> COMPANY </div>
        <hr>
        <ul class="aside__list">
            <li class="aside__item" onclick="location.href='/board/notice/'"> 공지사항 </li>
            <li class="aside__item" id="aside__item__clicked"> 자유게시판 </li> 
            <li class="aside__item" onclick="location.href='/board/reference/'"> 자료실 </li> 
        </ul>
    </aside>
    <main class="main">
        자유게시판
    </main>
</section>
{% endblock %}