{% extends "list_view.html" %}

{% block pagetitle %}
<div class="page-title">게시판</div>
<div class="page-subtitle">공지사항</div>
{% endblock %}
{% block aside %}
<li class="aside__item" onclick="location.href='/board/notice/'" id="aside__item__clicked"> 공지사항 </li>
<li class="aside__item" onclick="location.href='/board/reference/'" > 자료실 </li>
{% endblock %}


{% block postlink %}
<li class="board_list-col board_list-col-onclick" onclick="location.href='/board/notice/{{ post.id }}'">
{% endblock %}

