body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    margin: 0%;
    padding: 0;
}
.test {
    display: none;
}

.top-bar {
    width: 100%;
    height: 30px;
    padding: 0 15%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #262626;
    z-index: 100;

}

.top-bar__item {
    color: white;
    padding: 0 10px;
    font-size: 12px;
}

.top-bar__item-center {
    border-left: solid rgba(221, 221, 221, 0.5) 0.1px;
    border-right: solid rgba(221, 221, 221, 0.5) 0.1px;
}

.fixed-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 16%;
    padding: 0 10%;
    background-color: white;
    position: fixed;
    left: 0;
    top: 30px;
    transition: top ease-in 0.2s;
    z-index: 100;

}

.fixed-nav__logo{
    position: relative;
    z-index: -2;
    display: flex;
    align-items: center;
    height:100%;
}

.logo-image {
    position: relative;
    z-index: -3;
    height:170%;
    cursor: pointer;
    
}

.fixed-nav__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:60%;
}

.fixed-nav__items__item {
    width:180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    transition: color ease-in 0.2s;
    margin: 0;
    padding: 0;
    height: 30px;
    font-size: 1.1rem;
    list-style-type: none; 
}
.menu {
    position: absolute;
    cursor: pointer;
}
.fixed-nav__items__item:hover .fiexed-nav__submenu{
    visibility:visible;
    transform: translateY(+20px);
    opacity: 1;
}
.fiexed-nav__submenu {
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: opacity ease-in 0.5s, transform ease-in 0.3s;
    -webkit-box-shadow: -3px 2px 14px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 2px 14px -8px rgba(0,0,0,0.75);
    box-shadow: -3px 2px 14px -8px rgba(0,0,0,0.75);
}

.fiexed-nav__submenu__item {
    display: flex;
    justify-content: center;
    transition: color ease-in 0.1s;
    list-style-type: none; 
    padding: 10px 0;
    margin: 0;
    background-color: rgba(255, 255, 255) ;
    width: 100%;
    font-size: 12px;
    cursor: pointer;

    
}
.fiexed-nav__submenu__item:hover {
    color: rgb(173, 173, 173);
}

.fixed-nav__items__item-center {
    border-left: 1px rgba(221, 221, 221, 0.5) solid;
    border-right: 1px rgba(221, 221, 221, 0.5) solid;
}


.main__slide-area_base {
    position: relative;
    z-index: -1;
    top: 130px;
    width: calc(100vw-(100vw - 100%));
    height: 50vh;
}

.main__sliding-image_base {
    position: relative;
    z-index: -1;
    height: 300px;
    background-image: url(img/sea.jpg) ;
    background-size: cover;
}


.main__organization {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.main__organization-item {
    width: 15%;
    max-height: 90%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #262626;
    color: white;
}


.footer__information__item {
    margin: 0 10px;
    font-size: 12px;
}

/* @media only screen and (max-width: 1350px) {
    .header {
        display: none;
    }
    .main {
        display: none;
    }
    .footer{
        display: none;
    }
    .test {
        display: block;
    }
} */

@media all and (min-width:320px) and (max-width:728px) {
    .top-bar {
        display: none;
    }

    .fixed-nav {
        height: 8vh;
        top:0;
        padding: 0 3vw;
        background-color: rgb(236, 236, 236);
    }

    .fixed-nav__logo{
        display: none;
    }

    .logo-image {
        width: 0;
        display: none;
        
    }

    .fixed-nav__items {
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .fixed-nav__items__item {
        width: 20%;
        font-size: 1.5vh;
    }

    .main__slide-area_base {
        top: 8vh;
        height: 40vh;
    }

    .main__organization {
        display: none;
    }
    .footer__information__item {
        font-size: 0.5rem;
    }
}

@media all and (min-width:728px) and (max-width:1024px) {
    .fixed-nav {
        padding: 0 5%;
    }

    .fixed-nav__logo{
        width:10%;
    }
    
    .logo-image {
        position: relative;
        z-index: -3;
        height:150%;
        cursor: pointer;
        
    }

    .fixed-nav__items {
        width:80%;
    }
    

    .footer__information__item {
        margin: 0 5px;
        font-size: 12px;
    }
}
@media all and (min-width:1024px) {

}