.template_section {
    height: auto;
}
/* .business-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
    height: 8vh;
    max-width: 250px;
    max-height: 80px;
    padding-right: 4vw;
    font-size: 1.5rem;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.43);
    -moz-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.43);
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.43);
} */

.business-content {
    display: flex;
    flex-wrap: wrap;

}
.business-content__textbox {
    width: 100%;
}

.business-content__textlist {
    list-style-type: none;
}

.business-content__text {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.business-content__item {
    width:100%; 
    margin-bottom: 5vh;
}
.business-content__item-title {
    display: flex;
    justify-content: center;
    width:100%;
    padding-left: 2vw;
    font-size: 1.8rem;
    font-weight: 500;
}

.business-content__item-imagebox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
}

.business-content__item-image {
    width: 40vh;
    height: 40vh;
    margin-top: 1vh;
    /* border: 1px solid lightgray; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#business__coast__stormimage1 {
    background-image: url(img/business_coast/stormsurge_image.jpg);

}
#business__coast__stormimage2{
    background-image: url(img/business_coast/stormsurge_storm.jpg);

}
#business__coast__earthquake1{
    background-image: url(img/business_coast/tsunami_image.jpg);

}
#business__coast__earthquake2{
    background-image: url(img/business_coast/tsunami_earthquake.jpg);

}
#business__coast__coastimage1{
    background-image: url(img/business_coast/shoreline_image1.JPG);

}
#business__coast__coastimage2{
    background-image: url(img/business_coast/shoreline_image2.JPG);

}
#business__coast__onbaesuimage1{
    background-image: url(img/business_coast/diffusion_image1.jpg);
}
#business__coast__onbaesuimage2{
    background-image: url(img/business_coast/diffusion_image2.jpg);
}