/* 
.main {
    height:3500px;
} */
.main__slide-area_base {
    display: none;
}
.main__slide-area {
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    top: 15vh;
    width: 100vw;
    max-width: 100%;
    height: 70vh;

}
.main__slide-contents {
    width: 100%;

}

.main__sliding-image {
    opacity: 0;
    position: absolute;
    /* top: 0px; */
    transition: opacity ease-in 1s;
}
.main__sliding-image1 {
    opacity: 1;
    width: 100%;
    height: 100%;
    background-image: url(img/등대.jpeg) ;
    background-size: cover;
    float: left;
}

.main__sliding-image2 {
    width: 100%;
    height: 100%;
    background-image: url(img/파도.jpeg) ;
    background-size: cover;
    float: left;
    /* transform: translateY(-100%); */

}
.main__sliding-image3 {
    width: 100%;
    height: 100%;
    background-image: url(img/해변.jpeg) ;
    background-size: cover;
    float: left;
    /* transform: translateY(-200%); */

}

.main {
    margin-top: 20vh ;
}
.main__menu {
    display: flex;
    height: 50vh;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 10vh; */
    width: 100%;
    z-index: -1;
}

.main__menu__text {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    color: gray;
}

.main__menu__text__item1 {
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 0 20px;
    font-size: 4vh;
    border-right: rgba(221, 221, 221, 0.5) 1px solid;
    
}

.main__menu__text__item2 {
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 0 20px;
    font-size: 3vh;
}

.main__menu__items {
    width:100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

.main__menu__items__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    opacity: 0;
    transition: opacity ease-in 0.5s;
}

.main__menu__items__item1 {
    opacity: 1;
}

.main__menu__items__item__text {
    font-size: 25px;
    width: 50%;
    color: rgb(155, 155, 155);
}

.main__menu__items__item__text__title {
    padding-left: 20px;
}

.main__menu__items__item__text__list {
    font-size: 15px;
}

.main__menu__items__item__image {
    width: 40%;
    max-width: 40vh;
    max-height: 38vh;

    margin: 30px;
    background-size: cover;
}


.main__menu__items__item__image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.main__menu__image1 {
    background-image: url('img/해양환경.jpg');
}

.main__menu__image2 {
    background-image: url('img/해양물리.jpg');
}

.main__menu__image3 {
    background-image: url('img/항만개발.jpg');
}

.main__menu__image4 {
    background-image: url('img/연안개발.jpg');
}
.main__menu__image5 {
    background-image: url('img/GIS.jpeg');
}


.main__menu__buttonbox {
    display: flex;
    padding: 0 10vh;
    margin:  0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    position: relative;
    z-index: 1;
    border-bottom: 2px solid rgb(196, 196, 196);

}

.main__menu__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30px;
    color: rgb(155, 155, 155);
    transition:  ease-in 0.5s;
    position: relative;
    font-size: 1.2rem;

}

/* .main__menu__button__hr {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    transition:  ease-in 0.5s;
} */

.main__menu__button:hover {
    background-color: rgb(196, 196, 196);
    /* border-bottom: 1px solid rgb(196, 196, 196); */
    color: white;
}
/* 
.main__menu__button:hover .main__menu__button__hr {

    background-color: lightgray;
} */

.main__middle-image {
    height: 75vh;
    width: calc(100vw-(100vw - 100%));
    background-image: url(img/wind.jpg);
        background-size: cover;

}
.main__map {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    margin-top:5vh;
    color: gray;
}

.main__map__item {
    max-width: 50vh;
    width: 50vh;
    height: 50vh;

}
.main__map__iframe {
    width: 100%;
    height: 100%;
}

.main__map__textbox {
    width: 30%;
    margin: 70px;
}

.main__map__text_big {
    font-size: 30px;
}

.main__map__text_small {
    display: block;
    margin: 10px 0;
}

/* .toggle {
    position: fixed;
    right: 3vw;
    top: 45vh;
}

.toggle__button {
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 10px;
} */

@media all and (min-width:320px) and (max-width:728px) {
    .main__slide-area {
        top: 8vh;
        width: 100vw;
        max-width: 100%;
        height: 30vh;
    }
    .main {
        margin-top: 10vh;
    }
    .main__menu {
        height: 55vh;
    }
    .main__menu__items {
        opacity: 1;
        transform: translateY(20px);
    }
    .main__menu__text {
        height: 8%;
    }
    .main__menu__text__item1 {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        padding: 0 1vw;
        width: 40%;
    }
    .main__menu__text__item2 {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        padding: 0 2vw;
        
        width: 60%;
    }

    .main__menu__items__item {
        width: 100%; /**/
    }



    .main__menu__items__item__text {
        font-size: 1rem; /**/
        width: 100%; /**/
    }

    .main__menu__items__item__text__title {
        padding-left: 20px;
    }

    .main__menu__items__item__text__list {
        font-size: 0.8rem;
    }

    .main__menu__items__item__image {
        width: 60%;
        transform: translateY(-10%);
    }

    .main__menu__buttonbox {
        width: 90%;
        padding: 0 0vh;
    }

    .main__menu__button {
        width: 15%;
        font-size: 0.7rem;
    }

    .main__middle-image {
        height: 35vh;
    }

    .main__map {
        flex-wrap: wrap;
        height:auto;
        margin-top:5vh;
        color: gray;
    }
    
    .main__map__item {
        max-width: none;
        width: 80vw;
        height: 80vw;
    }

    
    .main__map__textbox {
        width: 80%;
        margin: 0;
        margin-top: 2vh;
    }
    
    .main__map__text_big {
        font-size: 1.2rem;
    }
    
    .main__map__text_small {
        font-size: 1rem;
    }
}

@media all and (min-width:320px) and (max-width:728px) and (max-height:500px) {
    .main__menu {
        height: 85vh;
    }
    .footer {
        height: 15vh;
    }
}
