.template_section {
    display: flex;
    padding: 1% 5%;
    position: relative;
    top: 8vh;
    height: 90vh;
    justify-content: space-between;
}

.aside {    
    width:20%;
}
.aside__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
}

.aside__item {
    width: 100%;
    height: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

#aside__item__clicked {
    background-color: rgba(211, 211, 211, 0.37);
    
}

.main {
    width: 80%;
    padding: 0 2%;
    height: auto;
}


.waytocome__map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:50vh;
    margin-top:5vh;
    color: gray;
}

.waytocome__map__item {
    width: 40vw;
    max-width: 400px;
    height: 40vw;
    max-height: 400px;

}
.waytocome__map__iframe {
    width: 100%;
    height: 100%;
}

.waytocome__map__textbox {
    width: 35%;
    margin: 2%;
}

.waytocome__map__text_big {
    font-size: 30px;
}

.waytocome__map__text_small {
    display: block;
    margin: 10px 0;
}

@media all and (min-width:320px) and (max-width:728px) {
    .aside {
        display: none;
    }
    .main {
        width: 100%;
    }
    .waytocome__map__item {
        width: 80vw;
        height: 80vw;    
    }
    .waytocome__map__textbox {
        width: 100%;
        margin: 2%;
    }
}