.page-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1vh;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

.page-title-line {
    width: 18px;
    height: 2px;
    background-color: white;
}

.page-subtitle {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1vh;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}
.template_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 18vh;

    padding: 1% 5%;
    position: relative;
    top: 18vh;
    height: auto;
    justify-content: left;
}

.aside {    
    width:100%;
    height: 60px;
    border-bottom: 1px solid lightgray;
    z-index: 1;

}
.aside__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
}

.aside__item {
    width: 20%;
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#aside__item__clicked {
    background-color: rgba(211, 211, 211, 0.37);
    
}

.main {
    width: 100%;
    padding: 3vh 10%;
    height: auto;
}


.waytocome__map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-top:5vh;
    color: gray;
}

.waytocome__map__item {
    width: 40vw;
    max-width: 400px;
    height: 40vw;
    max-height: 400px;

}
.waytocome__map__iframe {
    width: 100%;
    height: 100%;
}

.waytocome__map__textbox {
    width: 35%;
    margin: 2%;
}

.waytocome__map__text_big {
    font-size: 30px;
}

.waytocome__map__text_small {
    display: block;
    margin: 10px 0;
}

@media all and (min-width:320px) and (max-width:728px) {
    .template_section {
        padding: 1% 0%;
        top: 0;
        margin-bottom: 0;

    }
    .main {
        padding: 5% 0%;
    }
    .aside {
        display: none;
    }
    .main {
        width: 100%;
    }
    .waytocome__map__item {
        width: 70vw;
        height: 70vw;    
    }
    .waytocome__map__textbox {
        width: 100%;
        margin: 2%;
    }
}