.template_section {
    margin-top: 3vh;
    padding: 0 10vw;
}
.personal_infobox { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.personal_info-title {
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 3%;
}

.personal_info {
    width: 100%;
    height: 35vh;
    overflow-y: scroll;
    border: 1px solid lightgray;
    font-size: 0.8rem;
}

.personal_info-checkboxbox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.2rem;
    padding-top: 2vh;
}

.personal_info-checkbox-text {
    cursor: pointer;
}
.qanda-formbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

}
.qanda-form {
    margin: 0;
}

.qanda-formbox-title {
    width: 100%;
}
.qanda-form__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid lightgray;
}

.qanda-form__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    font-size: 15px;
}
span {
    font-size: 0.8rem;
}
.qanda-form__inputbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5%;
    width: 85%;
    height: 60%;
}

.qanda-form {
    height: auto;
}
.specialstring {
    display: flex;
    justify-content: center;
    width: 5%;
}
.qanda-form__input {
    width: 25%;
    height: 70%;
    border-radius: 0;
    outline: none;
    border: 1px solid lightgray;
}
.qanda-form__input:focus {
    border-radius: 0;
    border: 1px solid black;
}

.qanda-form__input-num {
    width: 15%;
}


.qanda-form__item-textarea {
    height: 50vh;
}


.qanda-form__inputbox-textarea {
    height: 100%;
}

.qanda-form__input-textarea {
    width: 100%;
    height: 80%;
    resize: none;
}

#qanda-form__file-lable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 70%;
    font-size: 0.8rem;    
    color: #999;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

#qanda-form__file {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#qanda-form__uploadname {
    height: 70%;
    margin-left: 20px;
}

.qanda-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    background-color:rgb(24, 24, 24);
    border: none;
    color: rgb(235, 235, 235);
    font-size: 1.05rem;
}

@media all and (min-width:320px) and (max-width:728px) {
    .template_section {
        padding: 0 5vw;
    }
    .qanda-formbox {
        width: 100%;
    }
    .personal_info {
        font-size: 0.8rem;
    }
    .qanda-form__item {
        height: 8vh;
    }
    .qanda-form__item-textarea {
        height: 15vh;
    }
    #qanda-form__file-lable {
        width: 15%;
    }
    .qanda-form__button {
        margin-top: 1vh;
        margin-bottom: 3.5vh;
        width:25vw;
        height: 5vh;
        font-size: 1rem;
    }
}

@media all and (min-width:728px) and (max-width:1024px) {
    
}