.template_section {
    padding-top: 0;
    height:auto;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding-top: 0;
    padding : 0 10vw
}

.recruitpage-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:25vh;
}

.recruitpage-intro__textbox {
    width:60%;
}

.recruitpage-intro__smalltext {
    font-size: 2.0rem;
}

.recruitpage-intro__bigtext {
    font-size: 2.5rem;
    font-weight: 600;
}

.recruitpage-intro__logobox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.recruitpage-intro__logo {
    width: 100%;
}
.recruitpage-process {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3vh;
}

.recruitpage-iconbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 18%;
}

.recruitpage-icontext {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    font-size: 1rem;
}

.recruitpage-icon {
    font-size: 3.5rem;
}

.recruitpage-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 vw;
    margin-bottom: 5vh;
    border-bottom: 1px solid lightgray;
}


.recruitpage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    max-width: 220px;
    max-height: 120px;
    font-size: 2.5rem;
    font-weight: 600;

}

.recruitpage-content {
    width: 100%;
    padding-top: 5%;
}

.recruitpage-content-list-item {
    margin: 5px;
}

.recruitpage-content-list-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.recruitpage-contentline {
    width:100%;
    margin-bottom: 3vh;
}

@media all and (min-width:320px) and (max-width:728px) {
    .recruitpage-process {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 0;
        justify-content: space-evenly;
    }

    .recruitpage-icontext {
        font-size: 0.8rem;
    }

    .recruitpage-content-list-title {
        font-size: 1rem;
    }

    .recruitpage-contentline {
        margin-bottom: 2vh;
    }

    .recruitpage-content-list {
        font-size: 0.8rem;
    }

}