{% extends "page.html" %}
{% block pagetitle %}
<div class="page-title">연구사업소개</div>
<div class="page-subtitle">해양환경</div>
{% endblock %}
{% block aside %}

<ul class="aside__list">
    <li class="aside__item" onclick="location.href='/business/coast/'"> 연안개발 </li>
    <li class="aside__item" onclick="location.href='/business/harbor/'"> 항만개발 </li>
    <li class="aside__item" onclick="location.href='/business/marinephysics/'"> 해양물리 </li>
    <li id="aside__item__clicked"class="aside__item" onclick="location.href='/business/marineenvironment/'"> 해양환경 </li>
    <li class="aside__item" onclick="location.href='/business/gis/'"> GIS </li>

</ul>
{% endblock %}
{% block main %}
해양환경
<section class="main__map">
    
</section>
{% endblock %}
