{% extends "business.html" %}
{% block pagetitle %}
<div class="page-title">연구사업소개</div>
<div class="page-title-line"> </div>
<div class="page-subtitle">연안개발</div>
{% endblock %}
{% block aside %}
<ul class="aside__list">
    <li id="aside__item__clicked" class="aside__item" onclick="location.href='/business/coast/'"> 연안개발 </li>
    <li class="aside__item" onclick="location.href='/business/harbor/'"> 항만개발 </li>
    <li class="aside__item" onclick="location.href='/business/marinephysics/'"> 해양물리 </li>
    <li class="aside__item" onclick="location.href='/business/marineenvironment/'"> 해양환경 </li>
    <li class="aside__item" onclick="location.href='/business/gis/'"> GIS </li>
</ul>
{% endblock %}
{% block main %}
<div class="business-content">
    <div class="business-content__textbox">
        <ul class="business-content__textlist">
            <li class="business-content__text">연안환경피해 최소화를 위한 온배수확산 영향평가</li>
            <li class="business-content__text">연안지역 해일내습 위험도 분석</li>
            <li class="business-content__text">연안복원을 위한 해안선변화 이력검토 및 예측</li>
        </ul>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">폭풍해일실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_coast/stormsurge/폭풍해일1-min.jpeg" data-src="../../static/img/business_coast/stormsurge/폭풍해일1.jpeg" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/stormsurge/stormsurge_storm-min.jpg" data-src="../../static/img/business_coast/stormsurge/stormsurge_storm.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/stormsurge/stormsurge-min.png" data-src="../../static/img/business_coast/stormsurge/stormsurge.png" class="business-content__item-image lazy">
        </div>  
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">지진해일실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_coast/earthquake/tsunami_earthquake-min.jpg" data-src="../../static/img/business_coast/earthquake/tsunami_earthquake.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/earthquake/tsunami_image-min.jpg" data-src="../../static/img/business_coast/earthquake/tsunami_image.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/earthquake/z_01_009000-min.jpg" data-src="../../static/img/business_coast/earthquake/z_01_009000.jpg" class="business-content__item-image lazy">
            
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">해안선변형실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_coast/shoreline/case8-min.jpg" data-src="../../static/img/business_coast/shoreline/case8.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/shoreline/shoreline_image1-min.JPG" data-src="../../static/img/business_coast/shoreline/shoreline_image1.JPG" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/shoreline/shoreline_image2-min.JPG" data-src="../../static/img/business_coast/shoreline/shoreline_image2.JPG" class="business-content__item-image lazy">
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">온배수확산실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_coast/diffusion/diffusion_image1-min.jpg" data-src="../../static/img/business_coast/diffusion/diffusion_image1.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/diffusion/diffusion_image2-min.jpg" data-src="../../static/img/business_coast/diffusion/diffusion_image2.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_coast/diffusion/diffusion_image3-min.png" data-src="../../static/img/business_coast/diffusion/diffusion_image3.png" class="business-content__item-image lazy">
        </div>
    </div>
</div>

{% endblock %}
