{% extends "business.html" %}
{% block pagetitle %}
<div class="page-title">연구사업소개</div>
<div class="page-title-line"> </div>
<div class="page-subtitle">해양물리</div>
{% endblock %}
{% block aside %}

<ul class="aside__list">
    <li class="aside__item" onclick="location.href='/business/coast/'"> 연안개발 </li>
    <li class="aside__item" onclick="location.href='/business/harbor/'"> 항만개발 </li>
    <li id="aside__item__clicked" class="aside__item" onclick="location.href='/business/marinephysics/'"> 해양물리 </li>
    <li class="aside__item" onclick="location.href='/business/marineenvironment/'"> 해양환경 </li>
    <li class="aside__item" onclick="location.href='/business/gis/'"> GIS </li>

</ul>
{% endblock %}
{% block main %}

<div class="business-content">
    <div class="business-content__textbox">
        <ul class="business-content__textlist">
            <li class="business-content__text">조위, 조류, 파랑, 수온ㆍ염분, 부표추적, 수심측량 등 해양물리조사</li>
            <li class="business-content__text">최신 기술을 도입한 첨단 장비 활용으로 자료의 신뢰도 향상</li>
            <li class="business-content__text">해양자료 분석 및 DB구축 </li>
        </ul>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">부표추적관측</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_marphysics/buoytrackingobs/2017_12_19_IMG_0251-min.JPG" data-src="../../static/img/business_marphysics/buoytrackingobs/2017_12_19_IMG_0251.JPG" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/buoytrackingobs/부이관측-min.jpg" data-src="../../static/img/business_marphysics/buoytrackingobs/부이관측.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/buoytrackingobs/IMG_3751-min.JPG" data-src="../../static/img/business_marphysics/buoytrackingobs/IMG_3751.JPG" class="business-content__item-image lazy">
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">수심측량</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_marphysics/depthsurvey/image06-min.jpg" data-src="../../static/img/business_marphysics/depthsurvey/image06.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/depthsurvey/image07-min.jpg" data-src="../../static/img/business_marphysics/depthsurvey/image07.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/depthsurvey/image08-min.jpg" data-src="../../static/img/business_marphysics/depthsurvey/image08.jpg" class="business-content__item-image lazy">
            
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">조류관측</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_marphysics/tideobs/image01-min.jpg" data-src="../../static/img/business_marphysics/tideobs/image01.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/tideobs/image02-min.jpg" data-src="../../static/img/business_marphysics/tideobs/image02.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/tideobs/image03-min.jpg" data-src="../../static/img/business_marphysics/tideobs/image03.jpg" class="business-content__item-image lazy">
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">조위관측</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_marphysics/tideheightobs/조위관측1-min.jpeg" data-src="../../static/img/business_marphysics/tideheightobs/조위관측1.jpeg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/tideheightobs/조위관측2-min.jpeg" data-src="../../static/img/business_marphysics/tideheightobs/조위관측2.jpeg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marphysics/tideheightobs/image10-min.jpg" data-src="../../static/img/business_marphysics/tideheightobs/image10.jpg" class="business-content__item-image lazy">
        </div>
    </div>
    <!-- <div class="business-content__item">
        <div class="business-content__item-title">파랑관측</div>
        <div class="business-content__item-imagebox">
            <div id="business__marphysics__waveobs//image1" class="business-content__item-image"></div>
            <div id="business__marphysics__waveobsimage2" class="business-content__item-image"></div>
            <div id="business__marphysics__waveobsimage3" class="business-content__item-image"></div>
        </div>
    </div> -->
</div>

{% endblock %}
