{% extends "business.html" %}
{% block pagetitle %}
<div class="page-title">연구사업소개</div>
<div class="page-title-line"> </div>
<div class="page-subtitle">항만개발</div>
{% endblock %}
{% block aside %}

<ul class="aside__list">
    <li class="aside__item" onclick="location.href='/business/coast/'"> 연안개발 </li>
    <li id="aside__item__clicked" class="aside__item" onclick="location.href='/business/harbor/'"> 항만개발 </li>
    <li class="aside__item" onclick="location.href='/business/marinephysics/'"> 해양물리 </li>
    <li class="aside__item" onclick="location.href='/business/marineenvironment/'"> 해양환경 </li>
    <li class="aside__item" onclick="location.href='/business/gis/'"> GIS </li>

</ul>
{% endblock %}
{% block main %}

<div class="business-content">
    <div class="business-content__textbox">
        <ul class="business-content__textlist">
            <li class="business-content__text">수치모형실험을 통한 해안ㆍ항만 구조물의 안정성 확보 및 최적 설계안 도출</li>
            <li class="business-content__text">항만구조물 주변해역의 해황변화 예측 및 평가</li>
            <li class="business-content__text">항만구조물 건설에 따른 오염물질확산, 해수면, 부진동 등 변화 예측</li>
        </ul>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">퇴적물이동실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_harbor/sedmove/sedmove1-min.jpg" data-src="../../static/img/business_harbor/sedmove/sedmove1.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/sedmove/sedmove2-min.jpg" data-src="../../static/img/business_harbor/sedmove/sedmove2.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/sedmove/퇴적물이동실험_그림-min.jpg" data-src="../../static/img/business_harbor/sedmove/퇴적물이동실험_그림.jpg" class="business-content__item-image lazy">
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">파랑변형실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_harbor/wavedefor/50yr_SW_L01_post_CN-min.jpg" data-src="../../static/img/business_harbor/wavedefor/50yr_SW_L01_post_CN.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/wavedefor/50yr_SW_L01_vector_CN-min.jpg" data-src="../../static/img/business_harbor/wavedefor/50yr_SW_L01_vector_CN.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/wavedefor/L01_Bathymetry_200407-min.jpg" data-src="../../static/img/business_harbor/wavedefor/L01_Bathymetry_200407.jpg" class="business-content__item-image lazy">
            
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">항내정온실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_harbor/harbortemp/항내정온도_1-min.jpg" data-src="../../static/img/business_harbor/harbortemp/항내정온도_1.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/harbortemp/항내정온도_2-min.jpg" data-src="../../static/img/business_harbor/harbortemp/항내정온도_2.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/harbortemp/항내정온도_3-min.jpg" data-src="../../static/img/business_harbor/harbortemp/항내정온도_3.jpg" class="business-content__item-image lazy">
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">해수유동실험</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_harbor/harbormove/flow_ebb_Run-f3_post-min.jpg" data-src="../../static/img/business_harbor/harbormove/flow_ebb_Run-f3_post.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/harbormove/해수유동실험_그림2-min.jpg" data-src="../../static/img/business_harbor/harbormove/해수유동실험_그림2.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_harbor/harbormove/해수유동실험_그림-min.jpg" data-src="../../static/img/business_harbor/harbormove/해수유동실험_그림.jpg" class="business-content__item-image lazy">
        </div>
    </div>
</div>

{% endblock %}
