{% extends "business.html" %}
{% block pagetitle %}
<div class="page-title">연구사업소개</div>
<div class="page-title-line"> </div>
<div class="page-subtitle">GIS</div>
{% endblock %}
{% block aside %}

<ul class="aside__list">
    <li class="aside__item" onclick="location.href='/business/coast/'"> 연안개발 </li>
    <li class="aside__item" onclick="location.href='/business/harbor/'"> 항만개발 </li>
    <li class="aside__item" onclick="location.href='/business/marinephysics/'"> 해양물리 </li>
    <li class="aside__item" onclick="location.href='/business/marineenvironment/'"> 해양환경 </li>
    <li id="aside__item__clicked" class="aside__item" onclick="location.href='/business/gis/'"> GIS </li>
</ul>
{% endblock %}
{% block main %}

<div class="business-content">
    <div class="business-content__textbox">
        <ul class="business-content__textlist">
            <li class="business-content__text">연안환경피해 최소화를 위한 온배수확산 영향평가</li>
            <li class="business-content__text">연안지역 해일내습 위험도 분석</li>
            <li class="business-content__text">연안복원을 위한 해안선변화 이력검토 및 예측</li>
        </ul>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">연안 재해경보시스템</div>
        <div class="business-content__item-imagebox">
            <div id="business__gis__warning1" class="business-content__item-image"></div>
            <div id="business__gis__warning2" class="business-content__item-image"></div>
            <div id="business__gis__warning3" class="business-content__item-image"></div>
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">해양 GIS DB 구축</div>
        <div class="business-content__item-imagebox">
            <div id="business__gis__builddb1" class="business-content__item-image"></div>
            <div id="business__gis__builddb2" class="business-content__item-image"></div>
            <div id="business__gis__builddb3" class="business-content__item-image"></div>
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">지형현황측량</div>
        <div class="business-content__item-imagebox">
            <div id="business__gis__geosurvey1" class="business-content__item-image"></div>
            <div id="business__gis__geosurvey2" class="business-content__item-image"></div>
            <div id="business__gis__geosurvey3" class="business-content__item-image"></div>
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">항만연안 시설물측량</div>
        <div class="business-content__item-imagebox">
            <div id="business__gis__facilitysur1" class="business-content__item-image"></div>
            <div id="business__gis__facilitysur2" class="business-content__item-image"></div>
            <div id="business__gis__facilitysur3" class="business-content__item-image"></div>
        </div>
    </div>
</div>

{% endblock %}
