{% extends "business.html" %}
{% block pagetitle %}
<div class="page-title">연구사업소개</div>
<div class="page-title-line"> </div>
<div class="page-subtitle">해양환경</div>
{% endblock %}
{% block aside %}

<ul class="aside__list">
    <li class="aside__item" onclick="location.href='/business/coast/'"> 연안개발 </li>
    <li class="aside__item" onclick="location.href='/business/harbor/'"> 항만개발 </li>
    <li class="aside__item" onclick="location.href='/business/marinephysics/'"> 해양물리 </li>
    <li id="aside__item__clicked"class="aside__item" onclick="location.href='/business/marineenvironment/'"> 해양환경 </li>
    <li class="aside__item" onclick="location.href='/business/gis/'"> GIS </li>

</ul>
{% endblock %}
{% block main %}


<div class="business-content">
    <div class="business-content__textbox">
        <ul class="business-content__textlist">
            <li class="business-content__text">해양수질 및 저질조사를 통한 해양생태계 복원의 기초자료 제공</li>
            <li class="business-content__text">저서생물 종분포, 군집구조, 현존량 분석을 통한 해양생태계 분석</li>
            <li class="business-content__text">해양쓰레기 분포ㆍ실태조사 및 해양환경영향분석</li>
            <li class="business-content__text">주요오염원 파악 및 오염저감방안제시</li>
        </ul>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">해양퇴적물</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_marenv/seasedment/IMG_1532-min.JPG" data-src="../../static/img/business_marenv/seasedment/IMG_1532.JPG" class="business-content__item-image lazy">
            <img src="../../static/img/business_marenv/seasedment/DSC00277-min.JPG" data-src="../../static/img/business_marenv/seasedment/DSC00277.JPG" class="business-content__item-image lazy">
            <img src="../../static/img/business_marenv/seasedment/image16-min.jpg" data-src="../../static/img/business_marenv/seasedment/image16.jpg" class="business-content__item-image lazy">
        </div>
    </div>
    <div class="business-content__item">
        <div class="business-content__item-title">수온염분</div>
        <div class="business-content__item-imagebox">
            <img src="../../static/img/business_marenv/temsalt/관측도구/IMG_0540-min.JPG" data-src="../../static/img/business_marenv/temsalt/관측도구/IMG_0540.JPG" class="business-content__item-image lazy">
            <img src="../../static/img/business_marenv/temsalt/분석그래프/st1_0100-min.jpg" data-src="../../static/img/business_marenv/temsalt/분석그래프/st1_0100.jpg" class="business-content__item-image lazy">
            <img src="../../static/img/business_marenv/temsalt/분석그래프/st1_2200-min.jpg" data-src="../../static/img/business_marenv/temsalt/분석그래프/st1_2200.jpg" class="business-content__item-image lazy">
        </div>
    </div>

</div>

{% endblock %}
