{% extends "page.html" %}
{% block aside %}
<div class="aside__title"> BUSINESS </div>
<hr>
<ul class="aside__list">
    <li class="aside__item" onclick="location.href='/business/coast/'"> 연안개발 </li>
    <li class="aside__item" onclick="location.href='/business/harbor/'"> 항만개발 </li>
    <li class="aside__item" onclick="location.href='/business/marinephysics/'"> 해양물리 </li>
    <li class="aside__item" onclick="location.href='/business/marineenvironment/'"> 해양환경 </li>
    <li id="aside__item__clicked" class="aside__item" onclick="location.href='/business/gis/'"> GIS </li>

</ul>
{% endblock %}
{% block main %}
GIS
<section class="main__map">
    
</section>
{% endblock %}
