{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block contents %}
<main class="main">
    <section class="main__menu">
        <div class="main__menu__text">
            <span class="main__menu__text__item1">(주)해강기술</span>
            <span class="main__menu__text__item2">해양기술을 선도하는 기업</span>
        </div>
        <div class="main__menu__items">
            <div class="main__menu__items__item">
                <div class="main__menu__items__item__image main__menu__image1"></div>
                <span class="main__menu__items__item__text">
                    COMPANY
                </span>
            </div>
            <div class="main__menu__items__item">
                <div class="main__menu__items__item__image main__menu__image2"></div>
                <span class="main__menu__items__item__text">
                    BUSINESS
                </span>
                
            </div>
            <div class="main__menu__items__item">
                <div class="main__menu__items__item__image main__menu__image3"></div>
                <span class="main__menu__items__item__text">
                    CONTACT US
                </span>
                
            </div>
            <div class="main__menu__items__item">
                <div class="main__menu__items__item__image main__menu__image4"></div>
                <span class="main__menu__items__item__text">
                    LOCATION
                </span>
            </div>
        </div>
    </section>
    <section class="main__information">
        <section class="main__information-image"></section>   
    </section>
    <section class="main__map">
        <div class="main__map__item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.3703492229106!2d126.95420141572191!3d37.35741287983766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5de50bbef4b7%3A0x6e3a73ec0be77db6!2z7JeQ7J207IqkIO2VmOydtO2FjO2BrOyLnO2LsCDqtbDtj6w!5e0!3m2!1sen!2skr!4v1613641835051!5m2!1sen!2skr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="main__map__textbox">
            <span class="main__map__text_big">오시는 길</span>
            <hr>
            <span class="main__map__text_small">경기도 군포시 당정동 공단로 140번길52</span>
            <span class="main__map__text_small">전화: 000 - 0000 - 0000</span>
            <span class="main__map__text_small">팩스: 000 - 0000 - 0000</span>
        </div>
    </section>
</main>
{% endblock %}