{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/index.css">
<script src="/static/index.js" defer></script>
{% endblock %}
{% block contents %}
<section class="main__slide-area">
    <div class="main__slide-contents">
        <div class="main__sliding-image main__sliding-image1"></div>
        <div class="main__sliding-image main__sliding-image2"></div>   
        <div class="main__sliding-image main__sliding-image3"></div>   
    </div>
</section>

<main class="main">
    <div class="main__menu__text">
        <span class="main__menu__text__item1">(주)해강기술</span>
        <span class="main__menu__text__item2">해양기술을 선도하는 기업</span>
    </div>
    <section class="main__menu">
        <div class="main__menu__items">
            <div class="main__menu__items__item main__menu__items__item1">
                <div class="main__menu__items__item__text">
                    <span class="main__menu__items__item__text__title">
                        해양환경
                    </span>
                    <ul class="main__menu__items__item__text__list">
                        <li class="main__menu__items__item__text__list__content">
                            해양수질 및 저질조사를 통한 해양생태계 복원의 기초자료 제공
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            저서생물 종분포, 군집구조, 현존량 분석을 통한 해양생태계 분석
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            해양쓰레기 분포ㆍ실태조사 및 해양환경영향분석
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            주요오염원 파악 및 오염저감방안제시
                        </li>
                    </ul>
                </div>
                <div class="main__menu__items__item__image main__menu__image1"></div>
            </div>
            <div class="main__menu__items__item main__menu__items__item2">
                <div class="main__menu__items__item__text">
                    <span class="main__menu__items__item__text__title">
                        해양물리
                    </span>
                    <ul class="main__menu__items__item__text__list">
                        <li class="main__menu__items__item__text__list__content">
                            조위, 조류, 파랑, 수온ㆍ염분, 부표추적, 수심측량 등 해양물리조사
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            최신 기술을 도입한 첨단 장비 활용으로 자료의 신뢰도 향상
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            해양자료 분석 및 DB구축 
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            육상ㆍ해상기인 페기물 침적메카니즘 분석 및 추적모형제시
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            해양순환 및 해수면 변화모델
                        </li>
                    </ul>
                </div>
                <div class="main__menu__items__item__image main__menu__image2"></div>
            </div>
            <div class="main__menu__items__item main__menu__items__item3">
                <div class="main__menu__items__item__text">
                    <span class="main__menu__items__item__text__title">
                        항만개발
                    </span>
                    <ul class="main__menu__items__item__text__list">
                        <li class="main__menu__items__item__text__list__content">
                            수치모형실험을 통한 해안ㆍ항만 구조물의 안정성 확보 및 최적 설계안 도출
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            항만구조물 주변해역의 해황변화 예측 및 평가
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            항만구조물 건설에 따른 오염물질확산, 해수면, 부진동 등 변화 예측
                        </li>
                    </ul>
                </div>
                <div class="main__menu__items__item__image main__menu__image3"></div>
            </div>
            <div class="main__menu__items__item main__menu__items__item4">
                <div class="main__menu__items__item__text">
                    <span class="main__menu__items__item__text__title">
                        연안개발
                    </span>
                    <ul class="main__menu__items__item__text__list">
                        <li class="main__menu__items__item__text__list__content">
                            연안환경피해 최소화를 위한 온배수확산 영향평가
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            연안지역 해일내습 위험도 분석
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            연안복원을 위한 해안선변화 이력검토 및 예측
                        </li>
                    </ul>
                </div>
                <div class="main__menu__items__item__image main__menu__image4"></div>
            </div>
            <div class="main__menu__items__item main__menu__items__item5">
                <div class="main__menu__items__item__text">
                    <span class="main__menu__items__item__text__title">
                        GIS
                    </span>
                    <ul class="main__menu__items__item__text__list">
                        <li class="main__menu__items__item__text__list__content">
                            GIS / DB 구축 및 지도데이터 가공
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            3차원 공간정보 및 도시정보 구축 시스템 활용
                        </li>
                        <li class="main__menu__items__item__text__list__content">
                            원격탐사 영상처리 및 분석
                        </li>
                    </ul>
                </div>
                <div class="main__menu__items__item__image main__menu__image5"></div>
            </div>
        </div>
        <div class="main__menu__buttonbox">
            <div class="main__menu__button main__menu__button1"><div class="main__menu__button__hr"></div>해양환경</div>
            <div class="main__menu__button main__menu__button2"><div class="main__menu__button__hr"></div>해양물리</div>
            <div class="main__menu__button main__menu__button3"><div class="main__menu__button__hr"></div>항만개발</div>
            <div class="main__menu__button main__menu__button4"><div class="main__menu__button__hr"></div>연안개발</div>
            <div class="main__menu__button main__menu__button5"><div class="main__menu__button__hr"></div>GIS</div>
        </div>
    </section>
    <div class="main__middle-image"></div>
    <section class="main__map">
        <div class="main__map__item">
            <iframe class="main__map__iframe"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.3703492229106!2d126.95420141572191!3d37.35741287983766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5de50bbef4b7%3A0x6e3a73ec0be77db6!2z7JeQ7J207IqkIO2VmOydtO2FjO2BrOyLnO2LsCDqtbDtj6w!5e0!3m2!1sen!2skr!4v1613641835051!5m2!1sen!2skr" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="main__map__textbox">
            <span class="main__map__text_big">오시는 길</span>
            <hr>
            <span class="main__map__text_small">경기도 군포시 당정동 공단로 140번길52 군포에이스하이테크시티, 905호</span>
            <span class="main__map__text_small">전화: 070 - 4455 - 8748</span>
            <span class="main__map__text_small">팩스: 031 - 478 - 8180</span>
        </div>
    </section>
</main>

{% endblock %}