{% extends "page.html" %}

{% block header %}
<link rel="stylesheet" href="/static/page.css">
<link rel="stylesheet" href="/static/introduction.css">
{% endblock %}
{% block pagetitle %}
<div class="page-title">회사소개</div>
<div class="page-title-line"> </div>
<div class="page-subtitle">인사말</div>
{% endblock %}

{% block aside %}
    <ul class="aside__list">
        <li class="aside__item" id="aside__item__clicked" > 인사말 </li>
        <li class="aside__item" onclick="location.href='/company/waytocome/'" > 오시는 길 </li> 
    </ul>
{% endblock %}

{% block main %}
    <div class="intoduction">
        <div class="intro__bigtext">
            <p class="intro__bigtext-text"><span class="intro__coloredtext">"</span>새로운 가치를 추구하며<span class="intro__coloredtext">"</span></p>
            <p class="intro__bigtext-text">구성원&nbsp<span class="intro__coloredtext"> 모두</span>가 &nbsp<span class="intro__coloredtext">행복한</span> &nbsp회사로</p>
            <p class="intro__bigtext-text">성장 발전 하겠습니다.</p>
        </div>
        <div class="intro__boldtext">
            <p class="intro__boldtext-text">2002년 설립된 ㈜해강기술은<br>
            다양한 해양분야에서 쌓은 경험과 기술을 바탕으로 고객에게<br>
            충분한 만족을 드리며<br>
            급변하는 기술 변화에 대응하고 있는 해양수치모델 전문기업입니다<br></p>
        </div>
        <div class="intro__smalltext">
            <p class="intro__smalltext-text">
            해양수치모델, 연안재해, 인공지능적용, 해역이용협의, 해양GIS구축 등에<br>
            최고의 기술력 및 신뢰성 그리고 고객만족을 추구하여 <br>
            귀사의 성공적이고 원활한 사업 추진에 <br>
            일익을 담당하고자 합니다.<br></p>
        </div>
        <div class="intro__outro">
            감사합니다.<br>
            ㈜해강기술 대표이사[드림]
        </div>
    </div>
{% endblock %}