{% extends "page.html" %}
{% block pagetitle %}
<div class="page-title">회사소개</div>
<div class="page-title-line"> </div>
<div class="page-subtitle">인사말</div>
{% endblock %}

{% block aside %}
    <ul class="aside__list">
        <li class="aside__item" id="aside__item__clicked" > 인사말 </li>
        <li class="aside__item" onclick="location.href='/company/waytocome/'" > 오시는 길 </li> 
    </ul>
{% endblock %}

{% block main %}
    인사말
    <div class="intoduction">
        1. 질병은 입을 좇아 들어가고
        화근은 입을 좇아 나온다… 태평어람<br>
        2. 행복이란
        타인을 행복하게 해주려는 노력의 부산물이다.<br>
        3. 지혜는 듣는 데서 오고
        후회는 말하는 데서 온다.<br>
        4. 인간은 의욕하는 것, 그리고
        창조하는 것에 의해서만이 행복하다.<br>
        5. 말을 많이 하는 것과
        말을 잘하는 것은 다르다.<br>
        6. 착한 일을 하는 사람에게는 하늘이
        복을 주시고, 악한 일을 하는 사람에게는
        하늘이 재앙을 주느니라. [공자:명심보감]<br>
        7. 탐욕은 일체를 얻고자 욕심내어서
        도리어 모든 것을 잃어버린다. [몽테뉴]<br>
        8. 백 권의 책에 쓰인 말보다, 한 가지 성실한
        마음이 더 크게 사람을 움직인다. [프랭클린]<br>
        9. 가장 높은 곳에 올라가려면 가장 낮은 곳부터
        시작하라.[푸블릴리우스 시루스]<br>
        10. 건강을 이기는 미(美)는 없다.<br>
        11. 프로에게서 자기 수련과 극기심을
    </div>
{% endblock %}