{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/page.css">
<link rel="stylesheet" href="/static/recruit.css">
<script src="https://kit.fontawesome.com/a3e31fc3f7.js" crossorigin="anonymous"></script>

<style>
    .aside {
        display: none;
    }
    .main {
        width: 100%
    }
</style>
{% endblock %}


{% block pagetitle %}
<div class="page-title">채용정보</div>
{% endblock %}
{% block contents %}
<section class="template_section">
    <aside class="aside">
        {% block aside %}
        {% endblock %}
    </aside>
    <main class="main">
        {% block main %}
        {% endblock %}
        <div class="recruitpage-intro">
            <div class="recruitpage-intro__textbox">
                <span class="recruitpage-intro__smalltext">해양사업을 선도하는 기업</span><br>
                <span class="recruitpage-intro__Bigtext">(주)해강기술</span>
            </div>
            <div class="recruitpage-intro__logobox">
                <!-- <img class="recruitpage-intro__logo" src="/static/img/logo.png" alt=""> -->
            </div>
        </div>
        <div class="recruitpage-process">
            <div class="recruitpage-iconbox">
                <div class="recruitpage-icontext">지원서 접수</div>
                <i class="recruitpage-icon far fa-address-card"></i>
            </div>
            <div class="recruitpage-iconbox">
                <div class="recruitpage-icontext">서류전형</div>
                <i class="recruitpage-icon fas fa-book-reader"></i>
            </div>
            <div class="recruitpage-iconbox">
                <div class="recruitpage-icontext">면접전형</div>
                <i class="recruitpage-icon fas fa-users"></i>
            </div>
            <div class="recruitpage-iconbox">
                <div class="recruitpage-icontext">최종합격</div>
                <i class="recruitpage-icon fas fa-user-tie"></i>
            </div>
        </div>
        <div class="recruitpage-item">
            <div class="recruitpage-content">
                <div class="recruitpage-content-list-title"> 담당업무 </div>
                <ul class="recruitpage-content-list">
                    <li class="recruitpage-content-list-item">부서 : 해양사업부</li>
                    <li class="recruitpage-content-list-item">업무 : 수치모델/인공지능/R&D </li>
                </ul>
                <hr class="recruitpage-contentline">
                <div class="recruitpage-content-list-title"> 지원자격 </div>
                <ul class="recruitpage-content-list">
                    <li class="recruitpage-content-list-item">해양/기상 수치모델 관련 전공자</li>
                    <li class="recruitpage-content-list-item">대졸(4년제) 이상</li>
                </ul>
                <hr class="recruitpage-contentline">
                <div class="recruitpage-content-list-title"> 우대사항 </div>
                <ul class="recruitpage-content-list">
                    <li class="recruitpage-content-list-item">전공분야(해양학, 해양공학, 토목공학, 지리 정보공학 등)</li>
                    <li class="recruitpage-content-list-item">관련자격증(해양환경기사, 해양공학기사, 기상기사 등) 소지자</li>
                    <li class="recruitpage-content-list-item">수치모델링 분야 경력자</li>
                    <li class="recruitpage-content-list-item">석/박사 학위 소지자</li>
                    <li class="recruitpage-content-list-item">프로그래밍 능숙자(Fortran, Python 등)</li>
                </ul>
            </div>
        </div>
        <div class="recruitpage-item">
            <div class="recruitpage-title">
                접수
            </div>
            <div class="recruitpage-content">
                <div class="recruitpage-content-list-title"> 접수기간 </div>
                <ul class="recruitpage-content-list">
                    <li class="recruitpage-content-list-item">상시채용</li>
                </ul>
                <hr class="recruitpage-contentline">
                <div class="recruitpage-content-list-title"> 제출서류 </div>
                <ul class="recruitpage-content-list">
                    <li class="recruitpage-content-list-item">이력서</li>
                    <li class="recruitpage-content-list-item">자기소개서</li>
                    <li class="recruitpage-content-list-item">학위증명서</li>
                    <li class="recruitpage-content-list-item">성적증명서</li>
                </ul>
                <hr class="recruitpage-contentline">
                <div class="recruitpage-content-list-title"> 제출방법 </div>
                <ul class="recruitpage-content-list">
                    <li class="recruitpage-content-list-item">우편 : 경기도 군포시 당정동 공단로 140번길52 군포에이스하이테크시티, 905호</li>
                    <li class="recruitpage-content-list-item">팩스 : 031-478-8180</li>
                    <li class="recruitpage-content-list-item">이메일 : sj_0827@hanmail.net</li>
                </ul>
            </div>
        </div>
    </main>
</section>
{% endblock %}